.video {
    background-image: url(/_assets/images/360.png);
    background-size:100%;
    width: 100%;
    height: auto;
    min-height:270px;
    margin-bottom: 50px;
 

  &--2{
    background-image: url(/_assets/images/video.png);
  }

  &--3{
    background-image: url(/_assets/images/events.png);
  }
}
  /* Hide Play button + controls on iOS */
  video::-webkit-media-controls {
      display:none !important;
  }