<div class = "bg-darkGray font-white ">
    <div class = "container py-30">
        <div class = "row">
            <!--<div class = "col-12 pb-30">
                <span class="font-32 font-weight-bold">www.vyrobni.report</span>
            </div>-->
           <div class = "col-12 col-md-8">
            <p class = "font-16 pb-10">
            <strong>HARDWARIO s.r.o.</strong><br/>
            U Jezu 525/4, 460 01, Liberec<br/>
            IČ: 04998511  DIČ: 04998511<br/>
            <a href = "https://www.hardwario.cz" class = "font-white">www.hardwario.com</a>
            </p>
            <p class = "font-16 ">
            Společnost je zapsána u Krajského soudu v Ústí nad Labem sp.zn. C 37399
            </p>
            </div>
            <div class = "col-12 col-md-4 pt-30 pt-md-0">
                
            </div>
        </div>
    </div>
</div>
              
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "main-addon.css" }}" />

</footer>

</body>
</html>
