<div class = "bg-darkGray font-white ">
    <div class = "container py-30">
        <div class = "row">
           <div class = "col-12 col-md-8">
            <p class = "font-16 py-10">
            {{ i18n "operated_by"}} <a class = "font-white" href = "{{ .Site.Params.hardwarioContact }}" target="_blank"><strong>HARDWARIO</strong></a>
            </div>
        </div>
    </div>
</div>
              
    <link rel="stylesheet" href="/_assets/css/{{ index .Site.Data.css.hash "main-addon.css" }}" />

</footer>

</body>
</html>
