{{ define "main" }}


<section>
  <div class="bg">
    <div class="container">
      <div class="row">
        <div class="col-10 col-md-8 pt-0 pb-30 pb-md-60">
          <h1 class="font-weight-bold font-red font-40 font-md-52 font-lnh52 font-md-lnh60 pt-40 pt-md-20 pb-20">
            Pomůžeme vám prosadit vaše produkty na zahraničních trzích
          </h1>        
          <p class = "font-18 font-lnh28 pb-20">Pro mezinárodní expanzi připravíme produktové portfolio, marketingovou a obchodní strategii, dokážeme také vybudovat a zaškolit obchodní tým.</p>
          <p class = "font-18 font-lnh28 pb-20">Využijeme k tomu síť našich zahraničních partnerů - odborníků na marketing, budování obchodní sítě i franchising.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="bg bg-light-blue py-0 py-md-30 text-center">
    <div class="container">
      <div class="row py-30 justify-content-center">
        <div class = "col-12 col-md-8">
          <i class="icon icon--quote"><!-- --></i>
          <blockquote class = "font-18 font-md-24 pt-20">"Jsem rád, že jsme měli možnost vzájemně spolupracovat na zajímavých projektech v rámci klíčové restrukturalizace skupiny JABLOTRON, vyhledávání a hodnocení investičních příležitostí i jejich dotahování po stránce smluvní ale též rozvojové. Rád bych vyzdvihl zejména komunikaci Vaší široké orientace a zkušeností v problematice financí, práva a firemních struktur s "normálním selským rozumem". Oceňují váš neformální přístup při jednáních a také schopnost popasovat se s mnohdy nudnou částí spojenou se zdoláváním byrokratických překážek a jiných obtíží."</blockquote>
          <div class="font-18">
            <span>—</span> Dalibor Dědek <span>—</span><br/>
            <span>Předseda představenstva JABLOTRON GROUP</span>
          </div>
        </div>
        </div>
    </div>
  </div>
</section>

<!--<section>
  <div class="bg py-60">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5">       
          <h2 class = "font-weight-bold font-28 font-md-34 pb-20 pb-md-0">Na vašem příběhu se budou podílet desítky expertů a&nbsp;partnerů</h2>
        </div>

        <div class="col-12 col-md-5">  
          <img src = "/_assets/images/partners.svg" />
        </div>
      </div>
    </div>
  </div>
</section>-->

<section>
  <div class="bg bg-tomas pt-120 pb-60 pb-md-120" style="overflow: hidden; display:block">
    <div class="container">
      <div class="row pt-120 justify-content-center justify-content-md-end">
        <div class = "col-11 col-md-6 px-20 py-20 font-white bg-red">
        <h2 class = "font-weight-bold font-28 font-md-34 pb-10">Zarezervujte si bezplatnou konzultaci mezinárodní expanze</h2>
        <p class = "font-18 pb-15">Jsem připraven probrat vaši situaci. Domluvme si 30minutovou schůzku online zdarma.</p>
        <p class="font-18 pb-10"><span>—</span> Tomáš Morava, zakladatel LIFTIA</p>
        <a href="https://meetings.hubspot.com/morava" target="_blank" class="cta-button font-24 font-lnh54 px-20 px-md-30 d-inline-block font-weight-bold font-red bg-white">Najdi termín</a>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
{{ end }}

{{ define "additional-scripts" }}

{{ end }}